# server

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work

.vscode/

.idea/

logs
*.log

etc/

node_modules

.DS_Store
dist
dist-ssr
coverage
*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

goblog