<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8" />
    <script src="/static/js/tailwindcss.js"></script>
    <script src="/static/js/highlight.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <!-- Mermaid 比较耗时，如果非必须则不加载-->
    {{- if .mermaidRequired }}
    <script src="/static/js/mermaid.min.js"></script>
    {{- end }}
    <title>Narasux Blogs</title>
    <link rel="stylesheet" href="/static/css/monokai-sublime.min.css" />
    <link href="/static/css/font-awesome-all.min.css" rel="stylesheet" />
    <link rel="icon" href="/static/image/favicon.png" type="image/x-icon" />
  </head>
  <body class="bg-yellow-50">
    <main>
      {{- template "common.header" . }}
      <div class="flex">
        <div class="flex-1"></div>
        <div class="w-2/3 flex-none">
          <div class="mb-8 mt-12 flex text-3xl font-bold text-sky-600">
            <a href="javascript:history.back()"
              >{{- template "common.icon.go-back" . }}</a
            >
            <span class="ml-2 font-mono">{{ .article.Title }}</span>
          </div>
          <div class="mx-auto my-5 overflow-x-auto rounded-xl bg-sky-50 px-5 shadow-md">
            <div id="content" class="p-2 font-mono tracking-wide text-gray-700 relaxed">
              loading...
            </div>
          </div>
          <div class="mx-auto my-5 overflow-x-auto rounded-xl bg-sky-50 px-5 shadow-md">
            <div class="mx-auto my-10 font-mono text-gray-700 flex flex-wrap justify-center">
              🚀 评论功能开发中～
            </div>
          </div>
        </div>
        <div class="flex-1">
          <button
            onclick="scrollToTop()"
            class="fixed bottom-40 right-10 rounded-md bg-sky-500 p-3 text-white hover:bg-sky-600"
          >
            <i class="fa-arrow-up fas"></i>
          </button>
          <button
            onclick="likeArticle()"
            class="fixed bottom-24 right-10 rounded-md bg-sky-500 p-3 text-white hover:bg-sky-600"
          >
            <i id="likeIcon" class="fa-thumbs-up far"></i>
          </button>
        </div>
      </div>
      {{- template "common.footer" . }}
    </main>
    <script>
      // Mermaid 比较耗时，如果非必须则不加载
      const mermaidRequired = {{ .mermaidRequired }};
      if (mermaidRequired) {
        // 配置 Mermaid 初始化
        mermaid.initialize({
            startOnLoad: true
        });
      }
      // 替换博客文章内容（markdown 渲染成的 html）
      const articleContent = {{ .article.Content }};
      document.getElementById("content").innerHTML = articleContent;
      // 设置代码高亮
      hljs.configure({
        // 对 mermaid 代码库忽略高亮
        noHighlightRe: /^mermaid$/
      });
      hljs.highlightAll();

      // 点击按钮时执行页面滚动到顶部的操作
      function scrollToTop() {
        window.scrollTo({top: 0, behavior: "smooth"});
      }

      let liked = false;

      // 点赞文章
      function likeArticle() {
        if (liked) {
          return
        }
        axios.post("/articles/{{ .article.ID }}/like")
          .then(() => {
            liked = true;
            likeIcon = document.getElementById("likeIcon")
            likeIcon.classList.remove("far")
            likeIcon.classList.add("fas")
          })
          .catch((err) => {
            console.error(err)
          });
      }
    </script>
  </body>
</html>
