{{- define "common.header" }}
<header class="bg-sky-400 shadow w-full">
  <div
    class="flex md:flex-row flex-col flex-wrap items-center mx-auto p-5 container"
  >
    <a href="/" class="flex items-center mb-0 text-white">
      <span class="ml-3 font-bold text-2xl">Narasux</span>
    </a>
    <nav class="flex flex-wrap justify-center items-center ml-auto text-white">
      <ul class="flex space-x-4">
        <li class="hover:underline">
          <a href="/">Home</a>
        </li>
        <li class="hover:underline">
          <a href="/articles">Articles</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
{{- end }}
