<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <script src="/static/js/tailwindcss.js"></script>
    <title>Narasux Blogs</title>
    <link rel="icon" href="/static/image/favicon.png" type="image/x-icon" />
    <style>
      .hover-grow:hover {
        transform: scale(1.2);
        transition: transform 0.2s;
      }
    </style>
  </head>
  <body class="bg-yellow-50">
    <main>
      {{- template "common.header" . }}
      <div class="mx-auto px-4 max-w-5xl">
        <div class="m-10 text-center">
          <h1 class="mb-3 font-bold text-sky-500 text-4xl"> {{ .Name }} </h1>
          <p class="text-gray-700"> Inspired by <a class="text-sky-500" target="_blank" href="https://github.com/{{ .Source }}">{{ .Source }}</a></p>
        </div>

        <div class="bg-white shadow-lg m-8 p-6 border border-gray-200 rounded-xl">
          <div class="overflow-x-auto overflow-y-hidden">
            <table class="w-full table-fixed">
              <thead>
                <tr>
                  {{ range .Groups }}
                  <th class="px-4 py-3 font-semibold text-gray-800 text-center">
                    <a class="cursor-pointer" onclick="showGroupsDescription()">
                      {{ .Symbol }}
                    </a>
                  </th>
                  {{ end }}
                </tr>
              </thead>
              <tbody class="my-4">
              {{ $groups := .Groups }}
              {{ range $rowIdx := until 8 }}
              <tr>
                {{ range $colIdx := until 8 }}
                <td class="py-2">
                  {{ $group := index $groups $colIdx }}
                  {{ if lt $rowIdx (len $group.Elements)}}
                  {{ $ele := index $group.Elements $rowIdx }}
                  <a onclick="showElementDetail({{ $colIdx }}, {{ $rowIdx }})">
                    <div class="bg-{{ $group.Color }} flex justify-center items-center mx-auto border border-stone-600 rounded-md w-16 h-16 font-light cursor-pointer hover-grow">
                      {{ $ele.Symbol }}
                    </div>
                  </a>
                  {{ else }}
                  <!-- 白色方块 -->
                  <div class="bg-block-white mx-auto rounded-md w-16 h-16"></div>
                  {{ end }}
                </td>
                {{ end }}
              </tr>
              {{ end }}
              </tbody>
            </table>
          </div>
        </div>

        <!-- 族 / 元素详情 -->
        <div id="details" class="overflow-x-auto overflow-y-hidden"></div>

      </div>
    </main>
  </body>
</html>
<script>
  var groups = {{ .Groups }};

  function showGroupsDescription() {
    const detailDiv = document.getElementById("details");
    detailDiv.innerHTML = `
      <div class="bg-white shadow-lg mx-8 p-6 border border-gray-200 rounded-xl">
        {{ range .Groups }}
        <h2 class="text-gray-700 text-xl my-2"><b>{{ .Symbol }}</b> - {{ .Name }}：{{ .Description }}</h2>
        {{ end }}
      </div>
    `;
  }

  function generateExamplesSection(examples) {
    if (!examples || examples.length === 0) return "";
    let html = `<h3 class="text-gray-800 text-lg mt-6 mb-2">🌰 举些例子：</h3>`;
    examples.forEach(example => {
      html += `<p class="my-2 text-gray-700"><span class="font-medium">${example.name}</span>：${example.desc}</p>`;
    });
    return html;
  }

  function generateWatchOutsSection(watchOuts) {
    if (!watchOuts || watchOuts.length === 0) return "";
    let html = `<h3 class="text-gray-800 text-lg mt-6 mb-2">⚠️ 注意事项：</h3>`;
    watchOuts.forEach(watchOut => {
      html += `<p class="my-2 text-gray-700"><span class="font-medium">${watchOut.name}</span>：${watchOut.desc}</p>`;
    });
    return html;
  }



  function generateArticlesSection(articles) {
    if (!articles || articles.length === 0) return "";
    let html = `<h3 class="text-gray-800 text-lg mt-6 mb-2">📖 相关文章：</h3><ul class="text-gray-800">`;
    articles.forEach(article => {
      html += `<li>• <a class="text-sky-500" href="${article.url}" target="_blank">${article.author}. (${article.year}). ${article.name}</a></li>`;
    });
    html += `</ul>`;
    return html;
  }

  function showElementDetail(groupIdx, elementIdx) {
    const ele = groups[groupIdx].elements[elementIdx];
    const detailDiv = document.getElementById("details");
    detailDiv.innerHTML = `
      <div class="bg-white shadow-lg mx-8 p-6 border border-gray-200 rounded-xl">
        <h2 class="text-gray-800 text-xl my-2">${ele.symbol}：${ele.name}</h2>
        <p class="text-gray-700">${ele.desc}</p>
        ${generateExamplesSection(ele.examples)}
        ${generateWatchOutsSection(ele.watchOuts)}
        ${generateArticlesSection(ele.articles)}
      </div>
    `;
  }

  window.onload = showGroupsDescription;
</script>